body {
    font-family: Arial;
    text-align: center;
    background: #f0fff0;
}

.top-bar {
    text-align: right;
    padding: 10px;
}

button {
    margin: 5px;
    padding: 8px;
}

.menu a {
    display: block;
    margin: 15px;
    padding: 15px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: block;
    margin: 15px auto;
    padding: 20px;
    background: linear-gradient(135deg, #2ecc71, #27ae60);
    color: white;
    text-decoration: none;
    border-radius: 15px;
    width: 250px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.weather-box, .advice-box {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

ul {
    list-style: none;
    padding: 0;
}

.crop-card {
    background: white;
    margin: 15px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

.price-card {
    background: white;
    margin: 15px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

#preview {
    margin-top: 10px;
    border-radius: 10px;
}

#result {
    margin-top: 20px;
    padding: 15px;
    background: #f9fff9;
    border-left: 5px solid green;
    border-radius: 10px;
}

/* SLIDER */

.slider{
    width:90%;
    max-width:1000px;
    height:400px;
    margin:30px auto;
    overflow:hidden;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.slides{
    display:flex;
    width:600%;
    height:100%;
    animation:slide 24s infinite;
}

.slides img{
    width:16.6667%;
    height:100%;
    object-fit:cover;
}

@keyframes slide{

    0%,12%{
        transform:translateX(0%);
    }

    16%,28%{
        transform:translateX(-16.6667%);
    }

    32%,44%{
        transform:translateX(-33.3334%);
    }

    48%,60%{
        transform:translateX(-50%);
    }

    64%,76%{
        transform:translateX(-66.6667%);
    }

    80%,92%{
        transform:translateX(-83.3334%);
    }

    100%{
        transform:translateX(0%);
    }
}


.language-switcher{
    width:max-content;
    margin:20px auto;
    background:white;
    padding:6px;
    border-radius:50px;
    box-shadow:0 5px 20px rgba(0,0,0,0.12);
}

.lang-btn{
    border:none;
    background:transparent;
    padding:12px 25px;
    border-radius:40px;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}

.lang-btn.active{
    background:linear-gradient(135deg,#2e7d32,#4caf50);
    color:white;
}